[global_tags]
  dc = "digitalocean"
  group = "servers"
[agent]
  interval = "10s"
  round_interval = true
  metric_batch_size = 1000
  metric_buffer_limit = 10000
  collection_jitter = "0s"
  flush_interval = "10s"
  flush_jitter = "0s"
  precision = ""
  debug = false
  quiet = true
  logfile = "/var/log/telegraf/telegraf.log"
  hostname = ""
  omit_hostname = false

[[outputs.influxdb]]
  urls = ["http://188.166.109.25:8086"] # required
  database = "telegraf" # required
  retention_policy = ""
  write_consistency = "any"
  timeout = "5s"
  username = "telegraf"
  password = "{{ vault_influxdb_user_telegraf }}"
  influx_uint_support = false
  namedrop = ["*-logs"]

[[outputs.socket_writer]]
  address = "tcp://188.166.109.25:8097"
  data_format = "json"
  namepass = ["*-logs"]

[[inputs.cpu]]
  percpu = true
  totalcpu = true
  collect_cpu_time = false
  report_active = false

[[inputs.disk]]
  ignore_fs = ["tmpfs", "devtmpfs", "devfs"]

[[inputs.diskio]]
  skip_serial_number = false
  device_tags = ["ID_FS_TYPE", "ID_FS_USAGE"]
  name_templates = ["$ID_FS_LABEL","$DM_VG_NAME/$DM_LV_NAME"]

[[inputs.docker]]
  endpoint = "unix:///var/run/docker.sock"
  gather_services = {{ 'true' if 'swarm' in docker and ansible_hostname == docker.swarm.manager else 'false' }}
  container_names = []
  container_name_include = []
  container_name_exclude = []
  timeout = "5s"
  perdevice = true
  total = true
  docker_label_include = []
  docker_label_exclude = ["annotation.kubernetes*", "maintainer", "org.labelschema.*"]
  tag_env = []

[[inputs.fail2ban]]
  use_sudo = true

[[inputs.kernel]]

[[inputs.mem]]

[[inputs.processes]]

[[inputs.swap]]

[[inputs.system]]

[[inputs.net]]
  interfaces = ["eth[0-4]"]
  ignore_protocol_stats = false

[[inputs.netstat]]

[[inputs.ntpq]]
  dns_lookup = true

[[inputs.tail]]
  name_override = "ergo-node-logs"
  files = [
    "/data/ergo/ergo_norotate.log",
  ]
  from_beginning = false
  pipe = false
  watch_method = "inotify"
  data_format = "grok"
  grok_patterns = [
    "%{GREEDYDATA:log_line}"
  ]
