hostname = "kapacitor"
data_dir = "/var/lib/kapacitor"

[http]
  log-enabled = false

[[influxdb]]
  enabled = true
  default = true
  name = "influxdbsys"
  urls = ["http://influxdbsys:8086"]
  username = "admin"
  password = "{{ docker.swarm.secrets['admin-at-influxdb'].data }}"
  timeout = 0
  insecure-skip-verify = false
  startup-timeout = "1m"
  disable-subscriptions = false
  subscription-mode = "server"
  subscription-protocol = "http"
  subscriptions-sync-interval = "1m0s"
  kapacitor-hostname = "kapacitor"
  http-port = 0
  udp-bind = ""
  udp-buffer = 1000
  udp-read-buffer = 0
  [influxdb.subscriptions]
  [influxdb.excluded-subscriptions]

[[influxdb]]
  enabled = true
  default = false
  name = "influxdb"
  urls = ["http://influxdb:8086"]
  username = "admin"
  password = "{{ docker.swarm.secrets['admin-at-influxdb'].data }}"
  timeout = 0
  insecure-skip-verify = false
  startup-timeout = "1m"
  disable-subscriptions = false
  subscription-mode = "server"
  subscription-protocol = "http"
  subscriptions-sync-interval = "1m0s"
  kapacitor-hostname = "kapacitor"
  http-port = 0
  udp-bind = ""
  udp-buffer = 1000
  udp-read-buffer = 0
  [influxdb.subscriptions]
  [influxdb.excluded-subscriptions]

[[slack]]
  enabled = true
  default = true
  workspace = "ergoplatform"
  url = "{{ docker.swarm.secrets['kapacitor-slack-url'].data }}"
  channel = "#monitoring"
  global = false
  state-changes-only = false
